body {
  
    margin: 0;
}

.TopNav {
    background-color: rgb(1, 127, 199);
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1;

}

.TopNav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.TopNav a#TopNavButton{
    padding: 14px 16px;
}

.TopNav a:hover {
    background-color: grey;
    opacity: 35%;
    color: black;
}

.TopNav a.Logo {
    object-fit: fill;
    border-radius: 50%;
  
}

.TopNav input.Search {
    float: right;
    padding: 6px;
    margin: 8px;
}

.TopNav a.Kurv {
    float: right;
}

#Forsidebillede {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.CenterText {
    position: absolute;
    top: 50%;
    left: 50%;
    text-shadow: 2px 2px darkgray;
    transform: translate(-50%, -50%);
    
    font-size: 50px;
    color: white;
}